<!DOCTYPE html>
<html>
  <head>
    <title>Ecotrip</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body ng-app="app">
    <h1>Ecotrip</h1>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.9/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.9/angular-route.js"></script>
  </body>
</html>
